
*{
    font-family:'Times New Roman';
    color:black;
    font-size: 12px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(237, 241, 243);
}
.sidebar{
    width:auto;
    height:100vh;
    border:0px groove black;
    background-color:rgb(163, 163, 163);
    padding: 15px;
    color:black;
}
#hbtn,#fbtn,#sbtn,#abtn,#sbtn,#lbtn,#stbtn,#dropdown{
    border: none;
    background-color:  rgb(163, 163, 163);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    padding: 10px;
    border-radius:0px;
    width: 150px;
    color:black;
    display: flex;
    justify-content:center;
    gap:10px
}
#hbtn:hover,#fbtn:hover,#menubtn:hover,#sbtn:hover,#abtn:hover,#sbtn:hover,#lbtn:hover,#stbtn:hover{
    background-color:white;
    border: none;
}


.sidebar {
    width: auto;
    height: 100vh;
    border: 0px groove black;
    background-color: rgb(163, 163, 163);
    padding: 15px;
    color: black;
}


#button_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar hr {
    width: 140px;
    size: 0.5px;
    color: grey;
}

#navbar {

    width: 100%;
    height:auto;
    background-color: rgb(163, 163, 163);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:; */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    right: 0;

}


.container {
    display: flex;
    flex-direction: column;
    width:auto;
    height: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
} 

