
*{
    font-family:'Times New Roman';
    color:black;
    font-size: 12px;
}

body{
    background-color: rgb(237, 241, 243);
    height: auto;
    width:auto;
}
input,textarea,select,option{    
    border-radius: 5px;
    border-width:0.5px;
    border-style:groove;
    padding: 10px;
    width:300px;
}

span{
    color: red;
}
.container{

    border: 0px;
    border-radius: 8px;
    width:auto;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction:column;
    /* margin-top:100px; */
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-bottom: 20px solid transparent;
    border-left:20px solid transparent;
    border-right: 20px solid transparent;
}
.outer_container{
    display: flex;
    flex-direction: row;
}


#tle{
    color:rgb(7, 7, 7);
    text-align:left;
    font-size: 25px;
}
#numerror,#mailerror{
    font-size:12px;
    color: rgb(255, 0, 0);
    display: none;
}
#previous,#submit{
    color:white;
    background-color:green;
    filter: saturate(2);
    border-radius:5px;
    border-width: 0px;
    height:auto;
    width:auto;
    font-size:12px;
    cursor: pointer;
    padding: 10px;
}


