body{
    display:flex;
    justify-content: center;
    background-color:rgb(244, 241, 237);
}
#greeting{

    border:0.5px groove;
    background-color:white;
    width:auto;
    height:auto;
    border-radius:2px;
    padding: 10px;
    position:absolute;
    top: 10%;
    margin:auto;
    padding: 20px;
    background-color:rgba(255, 253, 253, 0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-bottom: 20px solid transparent;
    border-left:20px solid transparent;
    border-right: 20px solid transparent;

}
#greeting{
    font-family:'Times New Roman';
    color:black;
    font-size:24px;
}

.blurring{
    filter:blur(10px);
}

